/* Lay out & generalizations */

html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: "Helvetica", "Arial", sans serif;
  font-size: 10px;
  line-height: 1.5em;
}

#gridWrapper {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  display: flex;
}

.col {
  width: 100px;
  height: 100%;

  margin: 0;
  padding: 0;

  left: 0;
}

.c2 {
  flex-grow: 1;
}

.c2:nth-of-type(1) {
  padding-top: 2em;
  padding-left: 0.6em;
  padding-right: 2.0em;

  flex-grow: 0.5;
}

.c4 {
  flex-grow: 4;
}

/* Specific typography and coloring */

a, a:visited {
  color: rgba(0, 0, 0, 1);
}

a:hover {
  color: rgba(255, 127, 127, 1);
}

h1 {
  margin-top: 0.3em;
}

p {
  line-height: 1.2em;
}

