/* Lay out & generalizations */

html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: "Helvetica", "Arial", sans serif;
  font-size: 10px;
  line-height: 1.5em;
}

#specs {
  margin-top: 4em;

  border-top: 1px solid black;

  color: rgba(255, 127, 127, 255);
}

#specs h1 {
  font-size: 1.2em;
}

#p5_loading {
  margin: 0;
  padding: 0;

  background-color: blue;
  color: pink;

  text-align: center;
  font-size: 2em;
}

#gridWrapper {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  display: flex;
}

.col {
  width: 100px;

  margin: 0;
  padding: 0;

  left: 0;
}

.c2 {
  flex-grow: 1;
}

.c2:nth-of-type(1) {
  padding-top: 0.5em;
  padding-left: 0.6em;
  padding-right: 2.0em;

  flex-grow: 0.5;
}

.c4 {
  flex-grow: 4;
}

#c1 {
  overflow: hidden;
}

/* Specific typography and coloring */

a, a:visited {
  color: rgba(0, 0, 0, 1);
}

a:hover {
  color: rgba(255, 127, 127, 1);
}

h1 {
  margin-top: 0.3em;
  margin-bottom: 2em;

  line-height: 1.2em;
}

p {
  line-height: 1.2em;
}

button {
  padding: 1px 4px 1px 4px;

  border: 1px solid black;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);

  font-size: 1em;
}

button:hover, 
button.sketchlink.activeEl:hover {
  cursor: pointer;

  border: 1px solid rgba(255, 127, 127, 1);
  background-color: rgba(255, 127, 127, 1);
  color: rgba(255, 255, 255, 1);
}

button.sketchlink.activeEl {
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

