html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

#gridWrapper {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  display: flex;
}

.canvas {
  width: 100px;
  height: 100%;

  margin: 0;
  padding: 0;

  left: 0;

  flex-grow: 1;
}

#c1 {
  flex-grow: 3;
}